.container{
    display: grid;
    grid-template-areas: "header";
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    text-align: center;
}
header{
    grid-area: header;
    font-size: 100px;
    color: green;
    background: black;
}
h2{
    grid-area: section;
    font-size: 30px;
    text-align: center;
    color: green;
}
body{
    background: black;
    text-align: center;
}

#nav1{
    grid-area: home;
    background: lime;
    text-align: left;
    grid-row: 2;
    grid-column: 1;
    border: 10px solid lime;
    display: inline-block;
}
#nav2{
    grid-area: home;
    background: lime;
    grid-column: 2;
    border: 10px solid lime;
    display: inline-block;
}
#nav3{
    grid-area: home;
    background: lime;
    grid-column: 3;
    border: 10px solid lime;
    display: inline-block;

}
#nav4{
    grid-area: home;
    background: lime;
    grid-column: 4;
    border: 10px solid lime;
    display: inline-block;
}
#nav5{
    grid-area: home;
    background: lime;
    grid-column: 5;
    border: 10px solid lime;
    display: inline-block;
}
#nav6{
    grid-area: home;
    background: lime;
    grid-column: 6;
    border: 10px solid lime;
    display: inline-block;
}
#nav7{
    grid-area: home;
    background: lime;
    grid-column: 7;
    border: 10px solid lime;
    display: inline-block;
}
#nav8{
    grid-area: home;
    background: lime;
    grid-column: 8;
    border: 10px solid lime;
    display: inline-block;
}
img{
height: 8cm;
}